<div class="summary" name="header1"> CaseNum: {{pacerData.header1.CaseNum}}
    <br/> PartyName: {{pacerData.header1.PartyName}}
    <br/> PartyRepresentative: {{pacerData.header1.PartyRepresentative}}
    <br/> PartyReferral: {{pacerData.header1.PartyReferral}}
    <br/> DateFiled: {{pacerData.header1.DateFiled}}
    <br/> DateTerminated: {{pacerData.header1.DateTerminated}}
    <br/> DateOfLastFiling: {{pacerData.header1.DateOfLastFiling}}
    <br/>
</div>
<br/>
<table class="table panel panel-default" name="pacerData.aliasTable">
    <tr ng-repeat="pacerData_aliasTable in pacerData.aliasTable">
        <td>  partyName: {{pacerData_aliasTable.partyName}}
            <br/>
        </td>
        <td>  partyType: {{pacerData_aliasTable.partyType}}
            <br/>
        </td>
        <td>  dba: {{pacerData_aliasTable.dba}}
            <br/>
        </td>
        <td>  dbaBusinessName: {{pacerData_aliasTable.dbaBusinessName}}
            <br/>
        </td>
    </tr>
</table>
<br/>
<div class="summary" name="billing"> PacerCenter: {{pacerData.billing.PacerCenter}}
    <br/> TransactionReceipt: {{pacerData.billing.TransactionReceipt}}
    <br/> Date: {{pacerData.billing.Date}}
    <br/> PacerLogin: {{pacerData.billing.PacerLogin}}
    <br/> ClientCode: {{pacerData.billing.ClientCode}}
    <br/> Description: {{pacerData.billing.Description}}
    <br/> SearchCriteria: {{pacerData.billing.SearchCriteria}}
    <br/> BillablePages: {{pacerData.billing.BillablePages}}
    <br/> Cost: {{pacerData.billing.Cost}}
    <br/>
</div>