
<div class="form-group">
    <label class="control-label col-md-3">Document type</label>
    <div class="col-md-8">
        <select multiple class="form-control grey" id="sel1" ng-model="Query.do_type" >
            <option ng-repeat="opval in pacerData.RelatedTransactionsSelectOptionValues.do_type track by $index" value="{{pacerData.RelatedTransactionsSelectOptionValues.do_type[$index][0]}}">
                {{pacerData.RelatedTransactionsSelectOptionValues.do_type[$index][1]}}
            </option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">Sort by</label>
    <div class="col-md-8">
        <select multiple class="form-control grey" id="sel1" ng-model="Query.sort1" >
            <option ng-repeat="opval in pacerData.RelatedTransactionsSelectOptionValues.sort1 track by $index" value="{{pacerData.RelatedTransactionsSelectOptionValues.sort1[$index][0]}}">
                {{pacerData.RelatedTransactionsSelectOptionValues.sort1[$index][1]}}
            </option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3"></label>
    <div class="col-md-8">
        <label class="checkbox-inline">
            <input ng-model="Query.pend" type="checkbox" ng-checked="true"> Pending

        </label>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3"></label>
    <div class="col-md-8">
        <label class="checkbox-inline">
            <input ng-model="Query.term" type="checkbox" ng-checked=""> Terminated

        </label>
    </div>
</div>
<div class="form-group" >
    <label class="control-label col-md-3">Documents </label>
    <div class="col-md-8">
        <input type="text" placeholder="Enter Documents" class="form-control input-circle"
               ng-model="Query.StartRange" value="{{}}">
        <span class="help-block"> This is inline help </span>
    </div>
</div>
<div class="form-group" >
    <label class="control-label col-md-3">to </label>
    <div class="col-md-8">
        <input type="text" placeholder="Enter to" class="form-control input-circle"
               ng-model="Query.EndRange" value="{{}}">
        <span class="help-block"> This is inline help </span>
    </div>
</div>
<div class="form-group" >
    <label class="control-label col-md-3">Filed</label>
    <div class="col-md-8">
        <div class="input-group input-large input-daterange">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="Query.filed_from" datetime="MM/dd/yyyy"
                       is-open="isOpenFns[$index]" datepicker-options="dateOptions" ng-required="true"
                       close-text="Close" alt-input-formats="altInputFormats" date-format="MM/dd/yyyy" date-type="string"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn blue" ng-click="openFns[$index]()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</div>
<div class="form-group" >
    <label class="control-label col-md-3">to</label>
    <div class="col-md-8">
        <div class="input-group input-large input-daterange">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="Query.filed_to" datetime="MM/dd/yyyy"
                       is-open="isOpenFns[$index]" datepicker-options="dateOptions" ng-required="true"
                       close-text="Close" alt-input-formats="altInputFormats" date-format="MM/dd/yyyy" date-type="string"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn blue" ng-click="openFns[$index]()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</div>
<div class="col-md-3 submit-btn">
    <button type="submit" value="Submit" class="btn blue" ng-click="submitForm()">
        <i class="fa fa-check"></i> Submit
    </button>
    <button class="btn default2" type="reset">Clear</button>
</div>