<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body class="page-container-bg-solid page-boxed">

        <!-- BEGIN PAGE BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </li>
                    <li>
                        <a href="MainQueryForm.html">Search</a>
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </li>
                    <li>
                        <span>Results</span>
                    </li>
                </ul>
        <!-- END PAGE BREADCRUMBS -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h4>Your search resulted in 5 cases.</h4>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->

                <!-- END PAGE TOOLBAR -->
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content" style="min-height: 436px;">
            <div class="container">
                <!-- BEGIN PAGE CONTENT INNER -->
                <table class="table">
                    <tr>
                        <th>Name
                        </th>
                        <th>Case Number
                        </th>
                        <th>Party
                        </th>
                        <th>Date Filed
                        </th>
                        <th>Date Terminated
                        </th>
                    </tr>
                    <tr ng-repeat="case in cases">
                        <td>{ {case.name}}
                        </td>
                        <td>{ {case.number}}
                        </td>
                        <td>{ {case.party}}
                        </td>
                        <td>{ {case.filed}}
                        </td>
                        <td>{ {case.term}}
                        </td>
                    </tr>
                </table>
                <!-- END PAGE CONTENT INNER -->

            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<!-- BEGIN PRE-FOOTER -->

<!-- END PRE-FOOTER -->
<!-- BEGIN INNER FOOTER -->

<div class="scroll-to-top" style="display: none;">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="plugins/js/jquery.min.js" type="text/javascript"></script>
<script src="plugins/js/bootstrap.min.js" type="text/javascript"></script>
<script src="plugins/js/js.cookie.min.js" type="text/javascript"></script>
<script src="plugins/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="plugins/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="plugins/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="plugins/js/jquery.uniform.min.js" type="text/javascript"></script>
<script src="plugins/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="plugins/js/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="plugins/js/form-samples.min.js" type="text/javascript"></script>
<script src="plugins/pages/js/moment.min.js" type="text/javascript"></script>
<script src="plugins/pages/js/daterangepicker.min.js" type="text/javascript"></script>
<script src="plugins/pages/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="plugins/pages/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="plugins/pages/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="plugins/pages/js/datatable.js" type="text/javascript"></script>
<script src="plugins/pages/js/datatables.min.js" type="text/javascript"></script>
<script src="plugins/pages/js/datatables.bootstrap.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="plugins/pages/js/table-datatables-responsive.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="plugins/pages/js/components-date-time-pickers.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="plugins/js/layout.min.js" type="text/javascript"></script>
<script src="plugins/js/demo.min.js" type="text/javascript"></script>
<script src="plugins/js/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->


</body>
</html>