
        <div class="form-body">
            <div class="page-content-inner">

                <div class="summary">
                    <h3><span class="bold-title">{{pacerData.header1.CaseNum}}</span>{{pacerData.header1.PartyName}}</h3>
                    <p><b>Filed:</b> {{pacerData.header1.DateFiled}} |
                        <b>Last filing:</b> {{pacerData.header1.DateOfLastFiling}} |
                     <span ng-show="pacerData.header1.DateTerminated"><b>Terminated:</b> {{pacerData.header1.DateTerminated}}</span></p>
                </div>

                <div class="title">
                    <h4>Filers</h4>
                </div>

                <table id="criminal-sort" class="sort table panel panel-default">
                    <thead>
                        <tr>
                            <th class="sort-header" width="340">Name</th>
                            <th class="sort-header" width="300">Type</th>
                            <th class="sort-header" width="120">Added</th>
                            <th class="sort-header" width="120">Terminated</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="pacerData_filersTable in pacerData.filersTable">
                            <td >
                                <a href ng-click="fetchCase(pacerData_filersTable.Name[0])" >{{pacerData_filersTable.Name[1]}}</a>
                            </td>
                            <td>
                                {{pacerData_filersTable.Type}}
                            </td>
                            <td>
                                {{pacerData_filersTable.Added}}
                            </td>
                            <td>
                                {{pacerData_filersTable.Terminated}}
                            </td>
                        </tr>

                    </tbody>
                </table>


                <table class="table panel panel-sm">
                    <tr>
                        <td align="center" colspan="4"><h4><span class="bold-title">{{pacerData.billing.PacerCenter}}</span></h4>
                            <h4>{{pacerData.billing.TransactionReceipt}}</h4></td>
                    </tr>

                    <tr>
                        <td align="left" colspan="2">{{pacerData.billing.Date}}</td>
                        <td align="right" colspan="2">{{pacerData.billing.Time}}</td>
                    </tr>

                    <tr>
                        <th align="left" colspan="2">Login:</th>
                        <td align="right" colspan="2">{{pacerData.billing.PacerLogin}}</td>
                    </tr>

                    <tr>
                        <th align="left" colspan="2">Client Code:</th>
                        <td align="right" colspan="2">{{pacerData.billing.ClientCode}}</td>
                    </tr>

                    <tr>
                        <th align="left" colspan="2">Description:</th>
                        <td align="right" colspan="2">{{pacerData.billing.Description}}</td>
                    </tr>

                    <tr>
                        <th align="left" colspan="2">Search Criteria:</th>
                        <td align="right" colspan="2">{{pacerData.billing.SearchCriteria}}</td>
                    </tr>

                    <tr>
                        <th align="left" colspan="2">Billable Pages:</th>
                        <td align="right" colspan="2">{{pacerData.billing.BillablePages}}</td>
                    </tr>

                    <tr>
                        <th align="left" colspan="2">Cost:</th>
                        <td align="right" colspan="2">{{pacerData.billing.Cost}}</td>
                    </tr>
                </table>
            </div>



                </div>
            </div>
