	<div class="page-content-inner">

		<div class="summary">
				<h3><span class="bold-title">2:15-cm-80135-KHV All Defendants</span> USA v. McCuiston</h3>
				<h4><span class="sec-title"></span></h4>
				<p><b>Filed:</b> 09/30/2015 |
				   <b>Terminated:</b> 09/30/2015 |
				   <b>Last filing:</b> 09/30/2015 </p>
		</div>

		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />

        <table class="table panel panel-sm">
            <tr class="title">
                <td align="center" colspan="4"><b>Selection Criteria for Query<b/></td>
            </tr>

            <tr>
                <td align="center" colspan="4"><b>Filed:</b> from 09/20/2015 to 10/01/2015</td>
            </tr>
        </table>

	</div>


</body>
</html>