<div class="form-body"> 
    <div class="page-content-inner">

<div class="alert alert-info">
<button data-toggle="collapse" data-target="#Criminal" class="btn default">Criminal</button>
<button data-toggle="collapse" data-target="#Civil" class="btn default">Civil</button>
<b> <span class="glyphicon glyphicon-arrow-left"></span> Click button</b> to toggle test cases. (These buttons are for testing purposes only)
</div>

<div id="Criminal" class="collapse">

                    <div class="summary">
                            <h3><span class="bold-title">1:15-cr-00356-JFK All Defendants</span>USA v. Williams et al</h3>
                            <p><b>Filed:</b> 06/08/2015 |
                               <b>Last filing:</b> 06/07/2016 </p>
                    </div>

                    <div class="title">
                        <h4>Parties with aliases</h4>
                    </div>
                 
                    <table class="table panel panel-default">
                        <tr>       
                            <td width="400"><b>Antoine Williams (1)</b><br />
                                <i>TERMINATED: 05/31/2016</i>
                                <i>(Defendant)</i>
                            </td>
                            <td width="166"></td>
                            <td width="574"><b></b>
                            </td>
                        </tr>
                        <tr>       
                            <td width="400"><b>Elvis Arias (2)</b><br />
                                <i>(Defendant)</i>
                            </td>
                            <td width="166">aka</td>
                            <td width="574"><b>Ex</b>
                            </td>
                        </tr> 
                        <tr>       
                            <td width="400"><b>George Monsanto (3)</b><br />
                                <i>(Defendant)</i>
                            </td>
                            <td width="166">aka</td>
                            <td width="574"><b>Gotti</b>
                                            <b>GD</b>
                            </td>
                        </tr> 
                        <tr>       
                            <td width="400"><b>Jesus Benedith (4)</b><br />
                                <i>(Defendant)</i>
                            </td>
                            <td width="166">aka</td>
                            <td width="574"><b>Shorty</b>
                                            <b>Mike</b>
                            </td>
                        </tr>  
                        <tr>       
                            <td width="400"><b>Michael Caban (5)</b><br />
                                <i>(Defendant)</i>
                            </td>
                            <td width="166">aka</td>
                            <td width="574"><b>Baretta</b>
                            </td>
                        </tr> 
                        <tr>       
                            <td width="400"><b>Theodore Williams (6)</b><br />
                                <i>(Defendant)</i>
                            </td>
                            <td width="166">aka</td>
                            <td width="574"><b>Cross</b>
                            </td>
                        </tr>         
                    </table>

                    <table class="table panel panel-sm">
                        <tr>
                            <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
                        </tr>

                        <tr>
                            <td align="left" colspan="2">07/07/2016</td>
                            <td align="right" colspan="2">11:33 am</td>
                        </tr>

                        <tr>
                            <th align="left" colspan="2">Login:</th>
                            <td align="right" colspan="2">pc6256:426687:0</td>
                        </tr>

                        <tr>
                            <th align="left" colspan="2">Client Code:</th>
                            <td align="right" colspan="2"></td>
                        </tr>      
                        
                        <tr>
                            <th align="left" colspan="2">Description:</th>
                            <td align="right" colspan="2">Aliases</td>
                        </tr> 
                        
                        <tr>
                            <th align="left" colspan="2">Search Criteria:</th>
                            <td align="right" colspan="2">1:15-cr-00356-JFK</td>
                        </tr> 

                        <tr>
                            <th align="left" colspan="2">Billable Pages:</th>
                            <td align="right" colspan="2">1</td>
                        </tr> 

                        <tr>
                            <th align="left" colspan="2">Cost:</th>
                            <td align="right" colspan="2">0.10</td>
                        </tr>
                    </table>
</div>

<div id="Civil" class="collapse">
                    <div class="summary">
                            <h3><span class="bold-title">6:13-cv-00946-RWS-KNM</span>Uniloc USA, Inc. et al v. SS SPV LLC</h3>
                            <h4><span class="sec-title">Robert W. Schroeder, III, presiding</span></h4>
                            <h4><span class="sec-title">K. Nicole Mitchell, referral</span></h4>
                            <p><b>Filed:</b> 12/10/2013 |
                            <b>Terminated:</b> 05/08/2015 |
                            <b>Last filing:</b> 05/08/2015 </p>
                    </div>

                    <div class="title">
                        <h4>Parties with aliases</h4>
                    </div>
                 
                    <table class="table panel panel-default">
                        <tr>       
                            <td width="400"><b>SS SPV LLC</b><br />
                                <i>(Defendant)</i>
                            </td>
                            <td width="166">dba<br /></td>
                            <td width="574"><b>GlaxoSmithKline<br /></b></td>
                        </tr>      
                    </table>

                    <table class="table panel panel-sm">
                        <tr>
                            <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
                        </tr>

                        <tr>
                            <td align="left" colspan="2">07/07/2016</td>
                            <td align="right" colspan="2">11:33 am</td>
                        </tr>

                        <tr>
                            <th align="left" colspan="2">Login:</th>
                            <td align="right" colspan="2">pc6256:426687:0</td>
                        </tr>

                        <tr>
                            <th align="left" colspan="2">Client Code:</th>
                            <td align="right" colspan="2"></td>
                        </tr>      
                        
                        <tr>
                            <th align="left" colspan="2">Description:</th>
                            <td align="right" colspan="2">Aliases</td>
                        </tr> 
                        
                        <tr>
                            <th align="left" colspan="2">Search Criteria:</th>
                            <td align="right" colspan="2">6:13-cv-00946-RWS-KNM</td>
                        </tr> 

                        <tr>
                            <th align="left" colspan="2">Billable Pages:</th>
                            <td align="right" colspan="2">1</td>
                        </tr> 

                        <tr>
                            <th align="left" colspan="2">Cost:</th>
                            <td align="right" colspan="2">0.10</td>
                        </tr>
                    </table>
</div>

 
    </div>      
</div>    