<div class="form-body"> 
    <div class="page-content-inner">

<div class="alert alert-info">
<button data-toggle="collapse" data-target="#Criminal1" class="btn default">Criminal (One)</button>
<button data-toggle="collapse" data-target="#Criminal2" class="btn default">Criminal (None)</button>
<button data-toggle="collapse" data-target="#Civil" class="btn default">Civil</button>
<b> <span class="glyphicon glyphicon-arrow-left"></span> Click button</b> to toggle test cases. (These buttons are for testing purposes only)
</div>   

 
<div id="Criminal1" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">6:15-mj-06245-GEB All Defendants</span>USA v. Castro</h3>
                <p><b>Filed:</b> 10/02/2015 |
                   <b>Terminated:</b> 10/02/2015 
                   <b>Last filing:</b> 10/02/2015 </p>
        </div>


        <div class="title">
            <h4>Other Court Information</h4>
        </div>

        <table id="criminal-sort" class="sort table panel panel-default">
                <thead>
                    <tr>       
                        <th class="sort-header" width="450">Court Name </th>
                        <th class="sort-header" width="450">Case Number </th>
                        <th class="sort-header" width="120">Start Date </th>
                        <th class="sort-header" width="120">End Date</th>
                    </tr>
                </thead>
     

                <tbody>
                    <tr>       
                        <td width="450">Western District of Texas</td>
                        <td width="450">15-CR-460-KC</td>
                        <td width="120">10/02/2015</td>
                        <td width="120"></td>
                    </tr>
                </tbody>         
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Associated Cases</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">6:15-mj-06245-GEB</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div>

<div id="Criminal2" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">1:15-cr-00334-RA</span>USA v. Lizardi et al</h3>
                <p><b>Filed:</b> 06/02/2015 |
                   <b>Last filing:</b> 06/06/2015 </p>
                
                <br /><br /><br />      
                <h4><b>(There are no associations for this case.)</b></h4>
                <br /><br /><br />   
        </div>

     
        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Associated Cases</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:15-cr-00334-RA</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div>

<div id="Civil" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">6:13-cv-00946-RWS-KNM</span>Uniloc USA, Inc. et al v. SS SPV LLC</h3>
                <h4><span class="sec-title">Robert W. Schroeder, III, presiding</span></h4>
                <h4><span class="sec-title">K. Nicole Mitchell, referall</span></h4>
                <p><b>Filed:</b> 12/10/2013 |
                   <b>Filed:</b> 05/08/2015 |
                   <b>Last filing:</b> 05/08/2015</p>
        </div>


        <div class="title">
            <h4>Associated Cases</h4>
        </div>
     
        <table id="civil-sort" class="sort table panel panel-default">
                <thead>
                    <tr>       
                        <th class="sort-header" width="450">Lead Case </th>
                        <th class="sort-header" width="450">Member Case </th>
                        <th class="sort-header" width="120">Start Date </th>
                        <th class="sort-header" width="120">End Date</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>       
                        <td width="450">6:13-cv-00946-RWS-KNM</td>
                        <td width="450"><a href="#">6:13-cv-00950-RWS-KNM<br /></a> Uniloc USA, Inc. et al v. Photo Stock Plus</td>
                        <td width="120">06/28/2014</td>
                        <td width="120">07/22/2014</td>
                    </tr> 
                    <tr>       
                        <td width="450"></td>
                        <td width="450"><a href="#">6:13-cv-00944-RWS-KNM<br /></a> Uniloc USA, Inc. et al v. iStockPhoto LP </td>
                        <td width="120">06/28/2014</td>
                        <td width="120">01/14/2015</td>
                    </tr>
                    <tr>       
                        <td width="450"></td>
                        <td width="450"><a href="#">6:13-cv-00943-RWS-KNM<br /></a> Uniloc USA, Inc. et al v. Getty Images (US), Inc. </td>
                        <td width="120">06/28/2014</td>
                        <td width="120">01/14/2015</td>
                    </tr> 
                </tbody>           
        </table>

        <div class="title">
            <h4>Related Cases</h4>
        </div>

        <table id="related-sort" class="sort table panel panel-default">
                <thead>
                    <tr>       
                        <th class="sort-header" width="900">Case</th>
                        <th class="sort-header" width="120">Start Date</th>
                        <th class="sort-header" width="120">End Date</th>
                    </tr>
                </thead>    

                <tbody>
                    <tr>       
                        <td width="900"><a href="#">6:13-cv-00942-RWS-KNM<br /></a> Uniloc USA, Inc. et al v. Corbis Corporation</td>
                        <td width="120">12/10/2013</td>
                        <td width="120">05/08/2015</td>
                    </tr> 
                    <tr>       
                        <td width="900"><a href="#">6:13-cv-00943-LED <br /></a> Uniloc USA, Inc. et al v. Getty Images (US), Inc.</td>
                        <td width="120">12/10/2013</td>
                        <td width="120">01/14/2015</td>
                    </tr>
                    <tr>       
                        <td width="900"><a href="#">6:13-cv-00944-LED <br /></a> Uniloc USA, Inc. et al v. iStockPhoto LP</td>
                        <td width="120">12/10/2013</td>
                        <td width="120">01/14/2015</td>
                    </tr>
                </tbody>            
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Associated Cases</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:16-cv-00058-WKW-GMB</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div>

    </div>      
</div>    