<div class="form-body"> 
    <div class="page-content-inner">
   

        <div class="summary">
                <h3><span class="bold-title">2:15-cm-80135-KHV All Defendants</span> USA v. McCuiston</h3>
                <h4><span class="sec-title"></span></h4>
                <p><b>Filed:</b> 09/30/2015 |
                   <b>Terminated:</b> 09/30/2015 |
                   <b>Last filing:</b> 09/30/2015 </p>
        </div>


        <div class="title">
            <h4>Attorneys</h4>
        </div>
     
        <table class="table panel panel-default">
            <tr>       
                <td width="400"><b>David B. Smith</b><br />
                    Feuerstein &amp; Smith, LLP<br /> 
                    17 St. Louis Place <br />
                    Buffalo, NY 14202-1502 <br />
                    716-845-9704 <br />
                    716-856-9707 (fax) <br />
                    <br /><br />
                    <i>Assigned: 03/08/2007</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i>
                </td>
                <td width="166">representing</td>
                <td width="574"><b>D.A. Elia Construction Corp. </b><br />
                    <i>Assigned: 03/08/2007</i><br />
                    <i>(Plantiff)</i>
                </td>
            </tr>

            <tr>       
                <td width="400"><b>Daniel F. Brown</b><br />
                    Damon Morey LLP<br /> 
                    200 Delaware Avenue <br />
                    Suite 1200 <br />
                    Buffalo, NY 14202 <br />
                    716-856-5500  <br />
                    716-856-5510 (fax)<br />
                    <br /><br />
                    <i>Assigned: 03/08/2007</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i>
                </td>
                <td width="166">representing</td>
                <td width="574">
                    <b>Damon &amp; Morey LLP </b><br />
                    <i>Assigned: 03/08/2007</i><br />
                    <i>(Defendant)</i>
                    <br /><br />

                    <b>John Smith</b><br />
                    <i>Assigned: 03/08/2007</i><br />
                    <i>(Defendant)</i>
                    <br /><br />                    

                    <b>Jane Smith</b><br />
                    <i>Assigned: 03/08/2007</i><br />
                    <i>(Defendant)</i>
                </td>
            </tr>     
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">{{receipt.PacerLogin}}</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2">{{receipt.ClientCode}}</td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">{{receipt.Description}}</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">{{receipt.SearchCriteria}}</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">{{receipt.BillablePages}}</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">{{receipt.Cost}}</td>
            </tr>
        </table>
    </div>      
</div>    