<div class="form-body"> 
    <div class="page-content-inner">

<div class="alert alert-info">
<button data-toggle="collapse" data-target="#Criminal" class="btn default">Criminal</button>
<button data-toggle="collapse" data-target="#Civil" class="btn default">Civil</button>
<b> <span class="glyphicon glyphicon-arrow-left"></span> Click button</b> to toggle test cases. (These buttons are for testing purposes only)
</div>

<div id="Criminal" class="collapse">    

           <div class="summary">
                    <h3><span class="bold-title">1:15-cr-00356-JFK</span></h3>
            </div>        

            <div class="title">
                <h4>Case File Location</h4>
            </div>
                    
            <table class="table panel panel-default">
                <tr>       
                    <td width="200"><b>Case Number</b></td>

                    <td width="110"><b>Volume</b></td>

                    <td width=""><b>Case Title</b><br /></td>

                    <td width=""><b>Result</b></td>
                </tr>

                <tr>       
                    <td width="200">1:15-cr-00356-JFK</td>

                    <td width="110">CS1</td>

                    <td width="">USA v. Williams et al</td>

                    <td width="">The case file may be available.</td>
                </tr>     
            </table>

            <table class="table panel panel-sm">
                <tr>
                    <td align="center" colspan="4">PACER Service Center</td>
                </tr>

                <tr>
                    <td align="center" colspan="4">Transaction Receipt</td>
                </tr>

                <tr>
                    <td align="center" colspan="4">06/08/2016 14:08:48</td>
                </tr>

                <tr>
                    <th align="left" colspan="2">Login:</th>
                    <td align="right" colspan="2">tr1234:7001234:0</td>
                </tr>

                <tr>
                    <th align="left" colspan="2">Client Code:</th>
                    <td align="right" colspan="2">0000</td>
                </tr>      
                
                <tr>
                    <th align="left" colspan="2">Description:</th>
                    <td align="right" colspan="2">Party List</td>
                </tr> 
                
                <tr>
                    <th align="left" colspan="2">Search Criteria:</th>
                    <td align="right" colspan="2">1:15-cr-00356-JFK</td>
                </tr> 

                <tr>
                    <th align="left" colspan="2">Billable Pages:</th>
                    <td align="right" colspan="2">1</td>
                </tr> 

                <tr>
                    <th align="left" colspan="2">Cost:</th>
                    <td align="right" colspan="2">0.10</td>
                </tr>
            </table>
</div>

<div id="Civil" class="collapse">    

           <div class="summary">
                    <h3><span class="bold-title">2:01-cv-00059-MHT-CSC</span></h3>
            </div>        

            <div class="title">
                <h4>Case File Location</h4>
            </div>
                    
            <table class="table panel panel-default">
                <tr>       
                    <td width="200"><b>Case Number</b></td>

                    <td width="110"><b>Volume</b></td>

                    <td width=""><b>Case Title</b><br /></td>

                    <td width=""><b>Result</b></td>
                </tr>

                <tr>       
                    <td width="200">2:01-cv-00059-MHT-CSC</td>

                    <td width="110">CS1</td>

                    <td width="">Franklin v. Car Temps USA</td>

                    <td width="">The case file may not be available.</td>
                </tr>     
            </table>

            <table class="table panel panel-sm">
                <tr>
                    <td align="center" colspan="4">PACER Service Center</td>
                </tr>

                <tr>
                    <td align="center" colspan="4">Transaction Receipt</td>
                </tr>

                <tr>
                    <td align="center" colspan="4">06/08/2016 14:08:48</td>
                </tr>

                <tr>
                    <th align="left" colspan="2">Login:</th>
                    <td align="right" colspan="2">tr1234:7001234:0</td>
                </tr>

                <tr>
                    <th align="left" colspan="2">Client Code:</th>
                    <td align="right" colspan="2">0000</td>
                </tr>      
                
                <tr>
                    <th align="left" colspan="2">Description:</th>
                    <td align="right" colspan="2">Party List</td>
                </tr> 
                
                <tr>
                    <th align="left" colspan="2">Search Criteria:</th>
                    <td align="right" colspan="2">2:01-cv-00059-MHT-CSC</td>
                </tr> 

                <tr>
                    <th align="left" colspan="2">Billable Pages:</th>
                    <td align="right" colspan="2">1</td>
                </tr> 

                <tr>
                    <th align="left" colspan="2">Cost:</th>
                    <td align="right" colspan="2">0.10</td>
                </tr>
            </table>
</div>

    </div>
</div>