<div class="form-body"> 
    <div class="page-content-inner">

  
        <div class="summary">
                <h3><span class="bold-title">2:15-cv-01293-JRG-RSP</span>Packet Tread LLC v. Apple, Inc.</h3>
                <h4><span class="sec-title">Rodney Gilstrap, presiding</span></h4>
                <h4><span class="sec-title">Roy S. Payne, referal</span></h4>
                <p><b>Filed:</b> 07/17/2015 |
                   <b>Last filing:</b> 03/08/2016</p>
        </div>


        <div class="title">
            <h4>Deadlines / Hearings</h4>
        </div>
     
        <table class="table panel panel-default">
                <tr>       
                    <td width="120"><b>Doc. No.</b></td>
                    <td width="280"><b>Deadlines / Hearings</b></td>
                    <td width="120"><b>Filed Event</b><br /></td>
                    <td width="120"><b>Due / Set</b></td>
                    <td width="120"><b>Satisfied</b></td>
                    <td width="120"><b>Terminated</b></td>
                </tr>

                <tr>       
                    <td><a href="#">47</a></td>
                    <td>Reply Deadline</td>
                    <td>11/16/2015</td>
                    <td>11/30/2015</td>
                    <td></td>
                    <td></td>
                </tr> 
                <tr>       
                    <td><a href="#">112</a></td>
                    <td>Ltr Brief Ready for Decision</td>
                    <td>01/19/2016</td>
                    <td>02/15/2016</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>       
                    <td><a href="#">84</a></td>
                    <td>Amended Pleadings Deadline</td>
                    <td>12/29/2015</td>
                    <td>03/25/2016</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>       
                    <td><a href="#">116</a></td>
                    <td>AMarkman Hearing</td>
                    <td>01/26/2016</td>
                    <td>06/10/2016 at 9:00 AM</td>
                    <td></td>
                    <td></td>
                </tr> 
                <tr>       
                    <td><a href="#">116</a></td>
                    <td>Mediation Completion Deadline</td>
                    <td>01/26/2016</td>
                    <td>07/08/2016</td>
                    <td></td>
                    <td></td>
                </tr>             
        </table>

        <div class="title">
            <h4>Related Cases</h4>
        </div>

        <table class="table panel panel-default">
                <tr>       
                    <td width="540"><b>Cases</b></td>

                    <td width="120"><b>Start Date</b></td>

                    <td width="120"><b>End Date</b></td>
                </tr>

                <tr>       
                    <td width="480"><a href="#">6:13-cv-00942-RWS-KNM</a> Uniloc USA, Inc. et al v. Corbis Corporation</td>

                    <td width="120">12/10/2013</td>

                    <td width="120">05/08/2015</td>
                </tr> 
                <tr>       
                    <td width="480"><a href="#">6:13-cv-00943-LED</a> Uniloc USA, Inc. et al v. Getty Images (US), Inc.</td>

                    <td width="120">12/10/2013</td>

                    <td width="120">01/14/2015</td>
                </tr>
                <tr>       
                    <td width="480"><a href="#">6:13-cv-00944-LED</a> Uniloc USA, Inc. et al v. iStockPhoto LP</td>

                    <td width="120">12/10/2013</td>

                    <td width="120">01/14/2015</td>
                </tr>        
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4">PACER Service Center</td>
            </tr>

            <tr>
                <td align="center" colspan="4">Transaction Receipt</td>
            </tr>

            <tr>
                <td align="center" colspan="4">06/10/2016 09:33:16</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Deadlines</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:16-cv-00058-WKW-GMB</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>

    </div>      
</div>    