<div class="form-body"> 
    <div class="page-content-inner">

<div class="alert alert-info">
<button data-toggle="collapse" data-target="#Criminal" class="btn default">Criminal</button>
<button data-toggle="collapse" data-target="#Civil" class="btn default">Civil</button>
<b> <span class="glyphicon glyphicon-arrow-left"></span> Click button</b> to toggle test cases. (These buttons are for testing purposes only)
</div>

<div id="Criminal" class="collapse">
                    <div class="summary">
                            <h3><span class="bold-title">1:15-cr-00356-JFK All Defendants</span>USA v. Williams et al</h3>
                            <p><b>Filed:</b> 06/08/2015 |
                               <b>Last filing:</b> 06/07/2016 </p>
                    </div>

                    <div class="title">
                        <h4>Filers</h4>
                    </div>
                 
                    <table id="criminal-sort" class="sort table panel panel-default">
                           <thead>
                               <tr>       
                                    <th class="sort-header" width="340">Name </th>
                                    <th class="sort-header" width="300">Type </th>
                                    <th class="sort-header" width="120">Added </th>
                                    <th class="sort-header" width="120">Terminated </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>       
                                    <td><a href="#">Elvis Arias (2)</a></td>
                                    <td>Defendant</td>
                                    <td>06/08/2015</td>
                                    <td></td>
                                </tr>

                                <tr>       
                                    <td><a href="#">Jesus Benedith (4)</a></td>
                                    <td>Defendant</td>
                                    <td>06/08/2015</td>
                                    <td></td>
                                </tr>

                                <tr>       
                                    <td><a href="#">Michael Caban (5)</a></td>
                                    <td>Defendant</td>
                                    <td>06/08/2015</td>
                                    <td></td>
                                </tr>

                                <tr>       
                                    <td><a href="#">George Monsanto (3)</a></td>
                                    <td>Defendant</td>
                                    <td>06/08/2015</td>
                                    <td></td>
                                </tr>

                                <tr>       
                                    <td><a href="#">USA</a></td>
                                    <td>Plaintiff</td>
                                    <td>06/08/2015</td>
                                    <td></td>
                                </tr>

                                <tr>       
                                    <td><a href="#">Antwoine WIlliams (1)</a></td>
                                    <td>Defendant</td>
                                    <td>06/08/2015</td>
                                    <td>05/31/2016</td>
                                </tr>

                                <tr>       
                                    <td><a href="#">Theodore Williams (6)</a></td>
                                    <td>Defendant</td>
                                    <td>06/08/2015</td>
                                    <td></td>
                                </tr>
                            </tbody>    
                    </table>

                    <table class="table panel panel-sm">
                        <tr>
                            <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
                        </tr>

                        <tr>
                            <td align="left" colspan="2">07/07/2016</td>
                            <td align="right" colspan="2">11:33 am</td>
                        </tr>

                        <tr>
                            <th align="left" colspan="2">Login:</th>
                            <td align="right" colspan="2">pc6256:426687:0</td>
                        </tr>

                        <tr>
                            <th align="left" colspan="2">Client Code:</th>
                            <td align="right" colspan="2"></td>
                        </tr>      
                        
                        <tr>
                            <th align="left" colspan="2">Description:</th>
                            <td align="right" colspan="2">Filers</td>
                        </tr> 
                        
                        <tr>
                            <th align="left" colspan="2">Search Criteria:</th>
                            <td align="right" colspan="2">1:15-cr-00356-JFK</td>
                        </tr> 

                        <tr>
                            <th align="left" colspan="2">Billable Pages:</th>
                            <td align="right" colspan="2">1</td>
                        </tr> 

                        <tr>
                            <th align="left" colspan="2">Cost:</th>
                            <td align="right" colspan="2">0.10</td>
                        </tr>
                    </table>
</div>

<div id="Civil" class="collapse">
                    <div class="summary">
                            <h3><span class="bold-title">2:15-cv-01293-JRGRSP</span>Packet Tread LLC v. Apple, Inc.</h3>
                            <h4><span class="sec-title">Rodney Gilstrap, presiding</span></h4>
                            <h4><span class="sec-title">Roy S. Payne, referral</span></h4>
                            <p><b>Filed:</b> 07/17/2015 |
                            <b>Last filing:</b> 03/08/2016 </p>
                    </div>

                    <div class="title">
                        <h4>Filers</h4>
                    </div>
                 
                    <table id="civil-sort" class="sort table panel panel-default">
                        <thead>
                            <tr>       
                                <th class="sort-header" width="340">Name</th>
                                <th class="sort-header" width="300">Type</th>
                                <th class="sort-header" width="120">Added</th>
                                <th class="sort-header" width="120">Terminated</th>
                            </tr>
                        </thead>     

                        <tbody>
                            <tr>       
                                <td><a href="#">ASUS Computer International</a></td>
                                <td>Consol Defendant</td>
                                <td>10/29/2015</td>
                                <td>12/29/2015</td>
                            </tr>

                            <tr>       
                                <td><a href="#">Apple, Inc.</a></td>
                                <td>Defendant</td>
                                <td>07/17/2015</td>
                                <td>01/04/2016</td>
                            </tr>

                            <tr>       
                                <td><a href="#">Apple, Inc.</a></td>
                                <td>Counter Claimant</td>
                                <td>07/17/2015</td>
                                <td>01/04/2016</td>
                            </tr>

                            <tr>       
                                <td><a href="#">Blu Products, Inc.</a></td>
                                <td>Consol Defendant</td>
                                <td>10/29/2015</td>
                                <td>02/08/2016</td>
                            </tr>

                            <tr>       
                                <td><a href="#">Coolpad Technologies, Inc.</a></td>
                                <td>Consol Counter Claimant</td>
                                <td>10/29/2015</td>
                                <td>01/11/2016</td>
                            </tr>

                            <tr>       
                                <td><a href="#">Coolpad Technologies, Inc.</a></td>
                                <td>Consol Defendant</td>
                                <td>10/29/2015</td>
                                <td>01/11/2016</td>
                            </tr>
                        </tbody>                                     
                    </table>

                    <table class="table panel panel-sm">
                        <tr>
                            <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
                        </tr>

                        <tr>
                            <td align="left" colspan="2">07/07/2016</td>
                            <td align="right" colspan="2">11:33 am</td>
                        </tr>

                        <tr>
                            <th align="left" colspan="2">Login:</th>
                            <td align="right" colspan="2">pc6256:426687:0</td>
                        </tr>

                        <tr>
                            <th align="left" colspan="2">Client Code:</th>
                            <td align="right" colspan="2"></td>
                        </tr>      
                        
                        <tr>
                            <th align="left" colspan="2">Description:</th>
                            <td align="right" colspan="2">Filers</td>
                        </tr> 
                        
                        <tr>
                            <th align="left" colspan="2">Search Criteria:</th>
                            <td align="right" colspan="2">2:15-cv-01293-JRGRSP</td>
                        </tr> 

                        <tr>
                            <th align="left" colspan="2">Billable Pages:</th>
                            <td align="right" colspan="2">1</td>
                        </tr> 

                        <tr>
                            <th align="left" colspan="2">Cost:</th>
                            <td align="right" colspan="2">0.10</td>
                        </tr>
                    </table>
</div>

 
    </div>      
</div> 

<script type="text/javascript">
    
    $('.showhide').click(function() {
        $(this).removeClass('glyphicon glyphicon-sort');
        $(this).toggleClass('glyphicon glyphicon-triangle-bottom');
        $(this).toggleClass('glyphicon glyphicon-triangle-top');
    });

</script>