<div class="form-body"> 
    <div class="page-content-inner">

<div class="alert alert-info">
<button data-toggle="collapse" data-target="#Criminal1" class="btn default">Criminal (Multi Dft)</button>
<button data-toggle="collapse" data-target="#Criminal2" class="btn default">Criminal (Single Dft)</button>
<button data-toggle="collapse" data-target="#Criminal3" class="btn default">Criminal (No Attorney)</button>
<button data-toggle="collapse" data-target="#Criminal4" class="btn default">Criminal (Pro SE)</button>
<button data-toggle="collapse" data-target="#Criminal5" class="btn default">Criminal (No Attorney + Pro SE)</button>
<button data-toggle="collapse" data-target="#Civil" class="btn default">Civil</button>
<b> <span class="glyphicon glyphicon-arrow-left"></span> Click button</b> to toggle test cases. (These buttons are for testing purposes only)
</div>    

<div id="Criminal1" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">1:15-cr-00356-JFK All Defendants</span>USA v. Williams et al </h3>
                <p><b>Filed:</b>  06/08/2015 |
                   <b>Last filing:</b> 06/07/2016 </p>
        </div>        

        <div class="title">
            <h4>Parties</h4>
        </div>
                
        <table class="table panel panel-default">
            <tr>       
                <td width="400"><b>Elvis Arias</b> (2)<br />
                    <i>Added: 06/08/2015</i><br />
                    <i>(Defendant)</i>
                </td>
                <td width="166">represented by</td>
                <td width="574"><b>Donald Joseph Yannella, III</b><br />
                    Donald Yannella P.C.<br /> 
                    233 Broadway, Suite 2370 <br />
                    New York, NY 10279 <br />
                    212-226-2883 <br />
                    646-430-8379 (fax) <br />
                    nynjccrimlawyer@gmail.com <br />
                    <br /><br />
                    <i>Assigned: 06/17/2015</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i>
                </td>
            </tr>

            <tr>       
                <td width="400"><b>Jesus Benedith</b> (4)<br />
                    <i>Added: 06/08/2015</i><br />
                    <i>(Defendant)</i>
                </td>
                <td width="166">represented by </td>
                <td width="574"><b>Allan Paul Haber</b><br />
                    Law Office of Allan P. Haber<br /> 
                    111 Broadway <br />
                    19th Floor <br />
                    New York, NY 10006 <br />
                    212-233-4411  <br />
                    212-374-1506 (fax)<br />
                    allanhaber@aol.com
                    <br /><br />
                    <i>Assigned: 11/12/2015</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i><br />
                    <br /><br />

                    <b>Andrew G. Patel</b><br />
                    Andrew G. Patel<br /> 
                    80 Broad Street<br />
                    Suite 1900 <br />
                    New York, NY 10004 <br />
                    212-349-0230  <br />
                    646-349-0230 (fax)<br />
                    apatel@apatellaw.com
                    <br /><br />
                    <i>Assigned: 06/17/2015</i><br />
                    <i>TERMINATED: 11/12/2015</i>
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i>
                    <br /><br />
                </td>
            </tr>   
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234:7001234:0</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Party List</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:15-cr-00356-JFK</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div>  

<div id="Criminal2" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">1:15-cr-00356-JFK All Defendants</span>USA v. Williams et al </h3>
                <p><b>Filed:</b>  06/08/2015 |
                   <b>Last filing:</b> 06/07/2016 </p>
        </div>        

        <div class="title">
            <h4>Parties</h4>
        </div>
                
        <table class="table panel panel-default">
            <tr>       
                <td width="400"><b>George Monsanto</b> (3)<br />
                    <i>Added: 06/08/2015</i><br />
                    <i>(Defendant)</i>
                </td>
                <td width="166">represented by</td>
                <td width="574"><b>Richard John Ma</b><br />
                    The Law Offices of Ma &amp; Park, PLLC<br /> 
                    315 Broadway, Suite 200 <br />
                    New York, NY 10007 <br />
                    212-431-6938 <br />
                    212-233-6937 (fax) <br />
                    richardma@maparklaw.com <br />
                    <br /><br />
                    <i>Assigned: 09/30/2015</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i>
                </td>
            </tr>

            <tr>       
                <td width="400"><b>USA</b><br />
                    <i>Added: 06/08/2015</i><br />
                    <i>(Plaintiff)</i>
                </td>
                <td width="166">represented by </td>
                <td width="574"><b>Jessica Fender</b><br />
                    U.S. Attorney's Office, S.D.N.Y.<br /> 
                    1 St. Andrews Plaza <br />
                    New York, NY 10007 <br />
                    212-637-2500  <br />
                    (fax)<br />
                    jessica.fender@usdoj.gov
                    <br /><br />
                    <i>Assigned: 06/17/2015</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>PRO HAC VICE</i>
                    <i>ATTORNEY TO BE NOTICED</i><br />
                    <br /><br />

                    <b>Jessica Rose Lonergan</b><br />
                    U.S. Attorney's Office, S.D.N.Y.<br /> 
                    1 St. Andrews Plaza <br />
                    New York, NY 10007 <br />
                    212-637-1038  <br />
                    212-637-2937 (fax)<br />
                    jessica.lonergan@usdoj.gov
                    <br /><br />
                    <i>Assigned: 06/29/2015</i><br />
                    <i>ATTORNEY TO BE NOTICED</i><br />
                    <br /><br />
                </td>
            </tr>   
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234:7001234:0</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Party List</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:15-cr-00356-JFK</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div>  

<div id="Criminal3" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">1:15-cr-00356-JFK All Defendants</span>USA v. Williams et al </h3>
                <p><b>Filed:</b>  06/08/2015 |
                   <b>Last filing:</b> 06/07/2016 </p>
        </div>        

        <div class="title">
            <h4>Parties</h4>
        </div>
                
        <table class="table panel panel-default">
            <tr>       
                <td width="400"><b>Rebecca Reynolds</b> (1)<br />
                    <i>Added: 06/03/2016</i><br />
                    <i>(Defendant)</i>
                </td>
                <td width="166">represented by </td>
                <td></td>
            </tr>

            <tr>       
                <td width="400"><b>USA</b><br />
                    <i>Added: 06/03/2016</i><br />
                    <i>(Plaintiff)</i>
                </td>
                <td width="166">represented by </td>
                <td width="574"><b>Adam Wright</b><br />
                    U.S. Attorney's Office<br /> 
                    450 Golden Gate Avenue <br />
                    San Francisco, CA 94102 <br />
                    415-436-7368  <br />
                    adam.wright@usdoj.gov
                    <br /><br />
                    <i>Assigned: 06/07/2016</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i><br />
                    <br /><br />

                    <b>Brian Joseph Stretch</b><br />
                    U.S. Attorney's Office<br /> 
                    450 Golden Gate Avenue <br />
                    11th Floor <br />
                    San Francisco, CA 94102 <br />
                    415-436-6842  <br />
                    415-436-7234 (fax)  <br />
                    brian.stretch@usdoj.gov
                    <br /><br />
                    <i>Assigned: 06/03/2016</i><br />
                    <i>TERMINATED: 06/07/2016</i>
                    <br /><br />
                </td>
            </tr>   
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234:7001234:0</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Party List</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:15-cr-00356-JFK</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div>  

<div id="Criminal4" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">1:15-cr-00356-JFK All Defendants</span>USA v. Williams et al </h3>
                <p><b>Filed:</b>  06/08/2015 |
                   <b>Last filing:</b> 06/07/2016 </p>
        </div>        

        <div class="title">
            <h4>Parties</h4>
        </div>
                
        <table class="table panel panel-default">
            <tr>       
                <td width="400"><b>Hakeem El Bey</b> (1)<br />
                    #47442-424<br />
                    Pekin-FCI<br />
                    Pekin Correctional Center<br />
                    P.O. Box 5000<br />
                    Pekin, IL 61555<br />
                    <i>Added: 08/13/2014</i><br />
                    <i>TERMINATED: 09/17/2015</i><br />
                    <i>(Defendant)</i><br />
                    PRO SE
                </td>
                <td width="166">represented by </td>
                <td width="574"><b>Gaberiel A. Fuentes</b><br />
                    Jenner &amp; Block LLP <br /> 
                    353 N. Clark Street <br />
                    Chicago, IL 60654 <br />
                    312-222-9350 <br />
                    gfuentes@jenner.com <br />
                    <br /><br />
                    <i>Assigned: 11/10/2016</i><br />
                    <i>ATTORNEY TO BE NOTICED</i><br />
                    <br /><br />
                </td>
            </tr>   
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234:7001234:0</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Party List</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:15-cr-00356-JFK</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div> 

<div id="Criminal5" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">1:15-cr-00356-JFK All Defendants</span>USA v. Williams et al </h3>
                <p><b>Filed:</b>  06/08/2015 |
                   <b>Last filing:</b> 06/07/2016 </p>
        </div>        

        <div class="title">
            <h4>Parties</h4>
        </div>
                
        <table class="table panel panel-default">
            <tr>       
                <td width="400"><b>Waseem Anas Daker</b> (1)<br />
                    #277371<br />
                    Cobb County Jail<br />
                    P.O. Box 100110<br />
                    Marietta, GA 30061<br />
                    <i>Added: 02/16/2010</i><br />
                    <i>TERMINATED: 04/46/2010</i><br />
                    <i>(Defendant)</i><br />
                    PRO SE<br />
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>       
                <td width="400"><b>USA</b><br />
                    <i>Added: 02/16/2010</i><br />
                    <i>(Plaintiff)</i>
                </td>
                <td width="166">represented by </td>
                <td width="574"><b>Kim Dammers</b><br />
                    Office of the United States Attorney<br /> 
                    75 Spring Street, S.W. <br />
                    600 United States Courthouse <br />
                    Atlanta, GA 30303<br />
                    404-581-6000  <br />
                    kim.dammers@usdoj.gov<br />
                    <br /><br />
                    <i>Assigned: 02/16/2010</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i><br />
                    <br /><br />
                </td>
            </tr>    
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234:7001234:0</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Party List</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:15-cr-00356-JFK</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div> 

<div id="Civil" class="collapse">
        <div class="summary">
                <h3><span class="bold-title">1:07-cv-00038-RJA-LGF</span>Kalobius v. West Asset Management , Inc.</h3>
                <h4><span class="sec-title">Richard J. Arcara, presiding</span></h4>
                <h4><span class="sec-title">Leslie G. Foschio, referral</span></h4>
                <p><b>Filed:</b>  01/25/2007 |
                   <b>Terminated:</b> 10/19/2007 |
                   <b>Last filing:</b> 10/19/2007 </p>
        </div>        

        <div class="title">
            <h4>Parties</h4>
        </div>
                
        <table class="table panel panel-default">
            <tr>       
                <td width="400"><b>Sarah J. Kalobius</b><br />
                    <i>Added: 01/25/2007</i><br />
                    <i>(Plaintiff)</i>
                </td>
                <td width="166">represented by</td>
                <td width="574"><b>Kenneth R. Hiller</b><br />
                    Law Offices of Kenneth Hiller<br /> 
                    6000 North Bailey Avenue <br />
                    Suite 1A  <br />
                    Amherst, NY 14226 <br />
                    716-564-3288 <br />
                    716-332-1884 (fax) <br />
                    <br /><br />
                    <i>Assigned: 01/25/2007</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i>
                </td>
            </tr>

            <tr>       
                <td width="400"><b>West Asset Management , Inc.</b><br />
                    <i>Added: 01/25/2007</i><br />
                    <i>(Defendant)</i>
                </td>
                <td width="166">represented by </td>
                <td width="574"><b>Hedwig M. Auletta</b><br />
                    Damon Morey LLP<br /> 
                    200 Delaware Avenue <br />
                    Suite 1200 <br />
                    Buffalo, NY 14202 <br />
                    716-858-3707  <br />
                    716-856-5535 (fax)<br />
                    <br /><br />
                    <i>Assigned: 03/23/2007</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i><br />
                    <br /><br />

                    <b>Allison L. Cannizaro</b><br />
                    Sessions, Fishman, Nathan &amp; Israel, L.L.P.<br /> 
                    3850 North Causeway Boulevard<br />
                    Suite 200 <br />
                    Metairie, LA 70002 <br />
                    504-846-7926  <br />
                    504-828-3737 (fax)<br />
                    <br /><br />
                    <i>Assigned: 05/02/2007</i><br />
                    <i>PRO HAC VICE</i>
                    <i>ATTORNEY TO BE NOTICED</i>
                    <br /><br />

                     <b>David Israel</b><br />
                    Sessions, Fishman, Nathan &amp; Israel, L.L.P.<br /> 
                    3850 North Causeway Boulevard<br />
                    Suite 200 <br />
                    Metairie, LA 70002 <br />
                    504-828-3700  <br />
                    504-828-3737 (fax)<br />
                    <br /><br />
                    <i>Assigned: 04/25/2007</i><br />
                    <i>LEAD ATTORNEY</i>
                    <i>ATTORNEY TO BE NOTICED</i>
                    <br /><br />
                </td>
            </tr>

            <tr>       
                <td width="400"><b>John Smith</b><br />
                    <i>Added: 02/15/2007</i><br />
                    <i>(Defendant)</i>
                </td>
                <td width="166">represented by</td>
                <td width="574"><b></b><br />
                </td>
            </tr>     
        </table>

        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234:7001234:0</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Party List</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">1:07-cv-00143-RJA</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>
</div>      
    
    </div>
</div>    
