<div class="form-body"> 
    <div class="page-content-inner">


        <div class="summary">
                <h3><span class="bold-title">6:13-cv-00946-RWS-KNM</span>Uniloc USA, Inc. et al v. SS SPV LLC</h3>
                <h4><span class="sec-title">Robert W. Schroeder, III, presiding</span></h4>
                <h4><span class="sec-title">K. Nicole Mitchell, referall</span></h4>
                <p><b>Filed:</b> 12/10/2013 |
                   <b>Filed:</b> 05/08/2015 |
                   <b>Last filing:</b> 05/08/2015</p>    

                <br /><br /><br />      
                <h4><b>(There Are No Pending Status Records For This Case.)</b></h4>
                <br />
                <h4><b>(No Statuses have been terminated for this case.)</b></h4>
                <br /><br /><br />  
        </div>

     
        <table class="table panel panel-sm">
            <tr>
                <td align="center" colspan="4"><h4><span class="bold-title">PACER SERVICE CENTER</span></h4><h4>Transaction Receipt</h4></td>
            </tr>

            <tr>
                <td align="left" colspan="2">07/07/2016</td>
                <td align="right" colspan="2">11:33 am</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Login:</th>
                <td align="right" colspan="2">tr1234</td>
            </tr>

            <tr>
                <th align="left" colspan="2">Client Code:</th>
                <td align="right" colspan="2"></td>
            </tr>      
            
            <tr>
                <th align="left" colspan="2">Description:</th>
                <td align="right" colspan="2">Case Status</td>
            </tr> 
            
            <tr>
                <th align="left" colspan="2">Search Criteria:</th>
                <td align="right" colspan="2">6:13-cv-00946-RWS-KNM</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Billable Pages:</th>
                <td align="right" colspan="2">1</td>
            </tr> 

            <tr>
                <th align="left" colspan="2">Cost:</th>
                <td align="right" colspan="2">0.10</td>
            </tr>
        </table>

    </div>      
</div>    