<div class="form-body">
    <div class="page-content-inner">

        <div class="summary">
                <h3><span class="bold-title">6:07-cv-06077-DGL</span> Johnson v. Connolly et al</h3>
                <br />
                <h4><b><label class="checkbox-inline">
                            <input ng-model="view_01" type="checkbox" value="option1"><a href="#/documents3">Document Number 1</a>
                        </label></b>(5 pages, 100 kb)</h4>
                <br /><br />  
        </div>         


        <table class="table panel panel-default">
                <thead>
                    <tr>       
                        <th width="220">Attachment </th>
                        <th width="400">Description </th>
                        <th width="120">Amount </th>
                        <th width="120">File Size </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>       
                        <td width="220">                
                            <label class="checkbox-inline">
                                <input ng-model="view_02" type="checkbox" value="option2"><a href="#/documents3">1</a>
                            </label>
                        </td>
                        <td width="400">Ex. A </td>
                        <td width="120">4 pages</td>
                        <td width="120">64 kb</td>
                    </tr>

                    <tr>       
                        <td width="220">                
                            <label class="checkbox-inline">
                            <input ng-model="view_03" type="checkbox" value="option3"><a href="#/documents3">2</a></label>
                        </td>
                        <td width="400">Ex. B </td>
                        <td width="120">3 pages</td>
                        <td width="120">47 kb</td>
                    </tr>
                    <tr>       
                        <td width="220">                
                            <label class="checkbox-inline">
                                <input ng-model="view_04" type="checkbox" value="option4"><a href="#/documents3">3</a>
                            </label>
                        </td>
                        <td width="400">Ex. C </td>
                        <td width="120">8 pages</td>
                        <td width="120">175 kb</td>
                    </tr>

                    <tr>       
                        <td width="220">                
                            <label class="checkbox-inline">
                                <input ng-model="view_05" type="checkbox" value="option5"><a href="#/documents3">4</a>
                            </label>
                        </td>
                        <td width="400">Cover Sheet </td>
                        <td width="120">1 page</td>
                        <td width="120">73 kb</td>
                    </tr>

                    <tr>       
                        <td width="220">                
                            <label class="checkbox-inline">
                                <input ng-model="view_06" type="checkbox" value="option6"><a href="#/documents3">5</a>
                            </label>
                        </td>
                        <td width="400">Designation Form </td>
                        <td width="120">2 pages</td>
                        <td width="120">80 kb</td>
                    </tr> 

                    <tr>       
                        <td width="220">                
                            <label class="checkbox-inline">
                                <input ng-model="view_07" type="checkbox" value="option7"><a href="#/documents3">6</a>
                            </label>
                        </td>
                        <td width="400">Tracking Form </td>
                        <td width="120">1 page</td>
                        <td width="120">35 kb</td>
                    </tr>

                    <tr class="grey">       
                        <td width="620">

                            <button class="btn default" ng-model="selectAll" ng-click="toggleSelectAll()" type="button" value="option1">Select All</button>
                            <button class="btn default2" ng-click="clear()" type="reset">Clear</button>
                            <a href="#/documents3"><button type="button" class="btn blue">View</button></a> 
                            <a href="#/documents3"><button type="button" class="btn blue">Download<span class="glyphicon glyphicon-download"></span></button></a>           

                        </td>
                        <td></td>
                        <td width="120" class="mid"><b>7 pages</b></td>
                        <td width="120" class="mid"><b>0.8 mb</b></td>
                    </tr>                                                                                                                         
                                                                                                  
                </tbody>  
        </table>

                <!--div class="table-nav">
                            <button class="btn default" ng-model="selectAll" ng-click="toggleSelectAll()" type="button" value="option1">Select All</button>
                            <button class="btn default2" ng-click="clear()" type="reset">Clear</button>
                            <a href="#/documents3"><button type="button" class="btn blue">View</button></a> 
                            <a href="#/documents3"><button type="button" class="btn blue">Download<span class="glyphicon glyphicon-download"></span></button></a>           
                </div-->        

    </div>
</div>
        
