<form action="#" class="form-horizontal form-bordered form-row-stripped">
    
    <div class="form-body">
        <h3><span class="bold-title">View a Document </span></h3>

        <div class="form-group">
                <label class="control-label col-md-2">Document</label>
                <div class="col-md-4">
                    <input type="text" placeholder="" class="form-control input-circle"
                           ng-model="CommonQuery.last_name">
                    <span class="help-block"> </span>
                </div>
        </div>

        <div class="form-group">                        
                <label class="control-label col-md-2">or Page ID</label>
                <div class="col-md-4">
                    <input type="text" placeholder="" class="form-control input-circle"
                           ng-model="CommonQuery.last_name">
                    <span class="help-block"> </span>
                </div>
        </div>        

        <div class="row">
                <div class="col-md-offset-3 col-md-9 submit-btn pad-L2">
                    <a href="#/documents2"><button type="button" class="btn blue" ng-click="run()">
                        Submit<span class="glyphicon glyphicon-ok-circle"></span>
                    </button></a>
                    <button class="btn default2" type="reset">Clear</button>
                </div>
        </div>
    </div>
</form>
