<div class="summary" name="header1"> CaseNum: {{pacerData.header1.CaseNum}}
    <br/> PartyName: {{pacerData.header1.PartyName}}
    <br/> PartyRepresentative: {{pacerData.header1.PartyRepresentative}}
    <br/> PartyReferral: {{pacerData.header1.PartyReferral}}
    <br/> DateFiled: {{pacerData.header1.DateFiled}}
    <br/> DateTerminated: {{pacerData.header1.DateTerminated}}
    <br/> DateOfLastFiling: {{pacerData.header1.DateOfLastFiling}}
    <br/>
</div>
<br/>
<table class="table panel panel-default" name="pacerData.historyTable">
    <tr ng-repeat="pacerData_historyTable in pacerData.historyTable">
        <td>
            <table class="table panel panel-default" name="pacerData_historyTable.DocNo"> DocNo:
                <tr ng-repeat="pacerData_historyTable_DocNo in pacerData_historyTable.DocNo  track by $index">
                    <td>{{pacerData_historyTable_DocNo}}</td>
                    <br/>
                </tr>
            </table>
            <br/>
        </td>
        <td>  Dates: {{pacerData_historyTable.Dates}}
            <br/>
        </td>
        <td>  Description: {{pacerData_historyTable.Description}}
            <br/>
        </td>
        <td>  docketText: {{pacerData_historyTable.docketText}}
            <br/>
        </td>
        <td>  undefined: {{pacerData_historyTable.undefined}}
            <br/>
        </td>
    </tr>
</table>
<br/>
<div class="summary" name="billing"> PacerCenter: {{pacerData.billing.PacerCenter}}
    <br/> TransactionReceipt: {{pacerData.billing.TransactionReceipt}}
    <br/> Date: {{pacerData.billing.Date}}
    <br/> PacerLogin: {{pacerData.billing.PacerLogin}}
    <br/> ClientCode: {{pacerData.billing.ClientCode}}
    <br/> Description: {{pacerData.billing.Description}}
    <br/> SearchCriteria: {{pacerData.billing.SearchCriteria}}
    <br/> BillablePages: {{pacerData.billing.BillablePages}}
    <br/> Cost: {{pacerData.billing.Cost}}
    <br/>
</div>